<a href="https://colab.research.google.com/github/aishwarya-ar1/Campus-Takeaway/blob/main/Handling_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

In [ ]:
import pandas as pd

To read the CSV file and print it

In [ ]:
data=pd.read_csv("classgrades.csv", index_col=0, na_values=["??","????"])
print(data)

      Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
S.no
1          5       57.14     34.09    64.38     51.48  52.50
2          8       95.05    105.49    67.50     99.07  68.33
3          8       83.70     83.17    30.00     63.15  48.89
4          7       81.22     96.06    49.38    105.93  80.56
5          8       91.32     93.64    95.00    107.41  73.89
...      ...         ...       ...      ...       ...    ...
95         8       96.73    103.71    45.00     93.52  61.94
96         7       85.34     80.54    41.25     93.70  39.72
97         8       89.94    102.77    87.50     90.74  87.78
98         7       95.60     76.13    66.25     99.81  85.56
99         8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

To make copies of the data

In [ ]:

data_copy2=data.copy()

To identify missing values in the data

In [ ]:
data_copy2.isnull().sum()

Prefix        0
Assignment    0
Tutorial      0
Midterm       0
TakeHome      1
Final         3
dtype: int64

Rows and columns of missing values are displayed

In [ ]:
missing=data_copy2[data_copy2.isnull().any(axis=1)]
print(missing)

      Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
S.no
8          7       72.85     86.85    60.00       NaN  56.11
21         8       63.40     86.21    63.12     72.78    NaN
39         6       90.74     89.64    61.25     90.00    NaN
61         8       71.79    102.87    41.88     24.77    NaN

Approches followed to fill in the values - (a) Mean, Median (b) Maximum count category

Here, we use DataFrame.describe() to derive the descriptive statistics that summarize central tendency, dispersion, and shape of a dataset's distribution excluding NaN values.

In [ ]:
data_copy2.describe()

          Prefix  Assignment    Tutorial     Midterm    TakeHome       Final
count  99.000000   99.000000   99.000000   99.000000   98.000000   96.000000
mean    7.313131   85.491717   89.731111   68.049495   80.828469   68.414375
std     0.932918   12.597694   15.071556   19.376074   23.808806   18.801087
min     4.000000   28.140000   34.090000   28.120000   16.910000   28.060000
25%     7.000000   80.875000   83.350000   52.810000   66.015000   53.122500
50%     8.000000   89.940000   93.100000   69.380000   87.960000   66.250000
75%     8.000000   95.000000  100.550000   82.810000   98.747500   84.167500
max     8.000000  100.830000  112.580000  110.000000  108.890000  108.890000

Imputing the missing value of 'TakeHome' variable - MEDIAN

In [ ]:
data_copy2['TakeHome'].median()

87.96

Here, we fill in the missing values using the specified variable

In [ ]:
data_copy2['TakeHome'].fillna(data_copy2['TakeHome'].median(),inplace=True)

Checking if the null value has been replaced with a value.

In [ ]:
missing=data_copy2[data_copy2.isnull().any(axis=1)]
print(missing)

      Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
S.no
21         8       63.40     86.21    63.12     72.78    NaN
39         6       90.74     89.64    61.25     90.00    NaN
61         8       71.79    102.87    41.88     24.77    NaN

Now, we impute the missing value of the final score using mean

In [ ]:
data_copy2['Final'].fillna(data_copy2['Final'].mean(),inplace=True)

Checking if the null value has been replaced with a value.

In [ ]:
missing=data_copy2[data_copy2.isnull().any(axis=1)]
print(missing)

Empty DataFrame
Columns: [Prefix, Assignment, Tutorial, Midterm, TakeHome, Final]
Index: []

We dont use series.value_counts() as Final is not a categorical variable

In [ ]:
data_copy2.isnull().sum()

Prefix        0
Assignment    0
Tutorial      0
Midterm       0
TakeHome      0
Final         0
dtype: int64